html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f6f4f2;
}

.fixed-top {
    z-index: 1;
}

.skip a {
    background: white;
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 2;
    position: absolute;
    top: -50px;
}

.skip a:focus {
    top: 10px;
}

h1 {
    font-size: 2em;
    line-height: 2;
    text-align: center;
    padding: 20px 0;
}

.h1, h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #425664;
}

.h1 {
    text-transform: uppercase;
}

@keyframes slidein {
    from {
        margin-right: 100%;
        width: 300%;
    }
    
    to {
        margin-right: 0%;
        width: 100%;
    }
}

@-webkit-keyframes slidein {
    from {
        margin-right: 100%;
        width: 300%;
      }
    
    to {
        margin-right: 0%;
        width: 100%;
    }
}

.overview-txt {
    padding: 20% 10%;
    color: #ffffff;
    margin-bottom: 10%;
    margin-top: 0;
    background-color: #425664;
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/tea.jpg");
    animation: slidein 5s;
    -webkit-animation: slidein 5s;
}

.overview-txt h1 {
    color: #ffffff;
}

.normal-title {
    margin-top: 15%;
}

main {
    margin-bottom: 15%;
}

p {
    padding: 0 3%;
}

footer {
    background-color: #27455B;
    color: white;
}

p > a {
    color: #000000;
}

.overview-txt p > a {
    color: #ffffff;
}

.active {
    text-transform: uppercase;
    text-decoration: underline;
}

p > a:hover {
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}

a:hover, a:focus {
    border: 2px dashed #00838F;
    color: #00838F !important; 
}

.festival {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.festival-item {
    border-radius: 10px;
    box-shadow: 3px 3px 6px #646A7A;
    height: auto;
    width: 70%;
    perspective: 1000px;
    margin: 10px;
    overflow: hidden;
    background-color: #ffffff;
}

.festival-item:hover, .festival-item:focus {
    border: 3px solid #73aca9;
    box-shadow: 3px 3px 6px #73aca9;
    border-radius: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.festival-item:hover .flip-card-inner, .festival-item:focus-within .flip-card-inner,
.festival-item:active .flip-card-inner, .festival-item:focus .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-back {
    background-color: #425664;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 240px;
}

.festival-item img {
    width: 100%;
}

.img-title {
    padding: 5px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    column-gap: 20px;
    row-gap: 20px;
}

.grid-container > img {
    width: 100%;
    padding: 0 30px;
    border-radius: 20% 0 20% 0;
}

@media screen and (min-width: 768px){
    /*.navbar {
        padding: 90px 10px;
        transition: 0.4s;
    }*/
    
    .container-fluid, .collapse {
        justify-content: center !important;
    }

    main {
        margin-bottom: 10%;
    }

    .normal-title {
        margin-top: 10%;
    }

    .overview-txt {
        padding: 15% 8%;
    }

    .festival-item {
        height: 200px;
        width: 30%;
    }

    img {
        height: 150px;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .about-txt, .about-image {
        grid-row: 1 / span 1;
    }
    
    .food-txt, .food-image {
        grid-row: 2 / span 1; 
    }

    .custom-txt, .custom-image {
        grid-row: 3 / span 1; 
    }

    .about-txt, .custom-txt {
        grid-column: 1 / span 1;
    }
    
    .food-txt {
        grid-column: 2 / span 1;
    }
    
    .about-image, .custom-image {
        grid-column: 2 / span 1;
    }

    .food-image {
        grid-column: 1 / span 1;
    }
}

@media screen and (min-width: 992px){
    .container-fluid {
        justify-content: space-between !important;
    }

    .collapse {
        justify-content: flex-end !important;
    }

    main {
        margin-bottom: 5%;
    }

    .normal-title {
        margin-top: 5%;
    }

    .overview-txt {
        padding: 10% 8%;
    }

    .festival-item {
        width: 20%;
        height: 250px;
    }

    img {
        height: 200px;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .about-txt, .custom-txt {
        grid-column: 1 / span 2;
    }
    
    .food-txt {
        grid-column: 2 / span 2;
    }
    
    .about-image, .custom-image {
        grid-column: 3 / span 1;
    }

    .food-image {
        grid-column: 1 / span 1;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    .skip a {
        -webkit-transition: none; 
        transition: none;        
     }

    .flip-card-inner {
        transition: transform none;
    }
  
    .overview-txt {
      background-attachment: initial;
      -webkit-animation: none;
      animation: none;
    }
  }

  @media print { 
  }